@use 'mixins' as *;

@mixin flex-center {
  display: flex;
  place-items: center;
}

$font-size: 2rem;

body {
  @include flex-center;

  h2 {
    font-size: $font-size;

    @include loadPathExampleMixin;
  }
}
